<!-- <div>
    <table id="data">
        <th *ngFor ="let column of data['table_headers']">
            {{column}}
        </th>
        <tr *ngFor="let row of data['series']">
            <td *ngFor = "let column of data['table_headers']">
                {{row[column]}}
            </td>    
        </tr>
    
    </table>
</div> -->


<div>

    <table id="data">
        <th *ngFor ="let column of tableHeaders">
            {{column}}
        </th>

        <ng-template let-expense ngFor [ngForOf]="expensesList">
            <tr>
              <td>{{expense.expenseId}}</td>
              <td>{{expense.expenseAmount}}</td>
              <td>{{expense.expenseDescription}}</td>
              <td>{{expense.expenseDate}}</td>
      
            </tr>
          </ng-template>

    </table>
</div>