Inside app.component.html
<!-- <button mat-flat-button color="primary">Warn</button>
<div id="slider"></div>
<div class="container">

  <div class="left-panel">
    <app-data-table></app-data-table>
    <app-expense-input></app-expense-input> 

  </div>


  <div class="right-panel">
    <app-highcharts 
      ></app-highcharts>
  </div>

</div> -->

<mat-tab-group animationDuration="0">
<mat-tab label="Add Expense">
  <app-expense-input></app-expense-input> 
</mat-tab>

<mat-tab label = "Datatable">
  <app-data-table></app-data-table>
</mat-tab>

<mat-tab label = "Chart">
    
  <ng-template matTabContent>
    <!-- Use ng-template to lazy load the DOM of the component-->
    <app-highcharts></app-highcharts>
  </ng-template>
</mat-tab>

</mat-tab-group>


<router-outlet></router-outlet>


