<div class="component-wrapper">

    <div id="top-label">
        <mat-icon>payment</mat-icon>
        Add Expense
    </div><br><br>

    <div id="form-wrapper">
        <form (ngSubmit) = "submitFormData()" id="input-form">
            <mat-form-field>
                <mat-label> Amount</mat-label>
                <input matInput placeholder="Ex.400" name="amount" [(ngModel)] = "expenseInputForm.expenseAmount">
                <button mat-button *ngIf="expenseInputForm.expenseAmount" matSuffix mat-icon-button aria-label="Clear" (click)="expenseInputForm.expenseAmount=''">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-form-field> <br>

            <mat-form-field>
                <mat-label> Description</mat-label>
                <input matInput placeholder="Ex. Shopping" name="description" [(ngModel)] = "expenseInputForm.expenseDescription">
                <button mat-button *ngIf="expenseInputForm.expenseDescription" matSuffix mat-icon-button aria-label="Clear" (click)="expenseInputForm.expenseDescription=''">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-form-field> <br>

            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker2" name="date" [(ngModel)] = "expenseInputForm.expenseDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="warn"></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Expense type</mat-label>
                <mat-select matNativeControl [(ngModel)]="selectedValue" name="type">
                    <mat-option *ngFor="let type of expenseTypes" [value]="type.expenseTypeDescription">
                        {{type.expenseTypeDescription}}
                      </mat-option>
                </mat-select>  
            </mat-form-field><br>

            <button mat-raised-button color="primary" id="button-submit" type="submit" >Submit</button>

        </form>
        {{expenseTypes | json}}
        {{selectedValue}}
    </div>

</div>

<router-outlet></router-outlet>
