<div class="component-wrapper">

    <h1> Add expense </h1>


    <form #inputForm = "ngForm" (ngSubmit) = "submitFormData()">


        <div class="form-group">
            <label>Amount</label>
            <input type="text" name="amount" [(ngModel)] = "expenseInputForm.expenseAmount">
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" [(ngModel)] = "expenseInputForm.expenseDescription">
        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="text" name="date" [(ngModel)] = "expenseInputForm.expenseDate">
        </div>

        <div class="form-group">
            <button mat-raised-button color="warn">Primary</button>
        </div>




    </form>




</div>

<router-outlet></router-outlet>
